<body>
    <div class="list-container">
        <header class="header">
            <h1>Users</h1>
            <%= link_to "Register", register_path, class: "submit-btn" %>
        </header>
        <main class="user-grid">
            <% @users.each do |user| %>
                <div class="user-card">
                    <h2><%= user.first_name %> <%= user.last_name %></h2>
                    <p><%= user.email %></p>
                    <div class="actions">
                        <%= link_to "Detail", user_path(user), class: "action" %>
                        <%= link_to "Edit", edit_user_path(user), class: "action" %>
                        <%= link_to "Delete", delete_user_path(user), class: "action", data: {
                            turbo_method: :delete,
                            turbo_confirm: "Are you sure?"
                        } %>
                    </div>
                </div>
            <% end %>
        </main>
    </div>
</body>