<body>
    <div class="list-container">
        <%= link_to "< Back", :back %>
        <header class="header">
            <h1><%= @user.first_name %> <%= @user.last_name %></h1>
        </header>
        <div>
            <p><strong>Firstname:</strong> <%= @user.first_name %></p>
            <p><strong>Lastname:</strong> <%= @user.last_name %></p>
            <p><strong>Birthday:</strong> <%= @user.birthday %></p>
            <p><strong>Gender:</strong> <%= @user.gender %></p>
            <p><strong>Email:</strong> <%= @user.email %></p>
            <p><strong>Phone Number:</strong> <%= @user.phone %></p>
            <p><strong>Subject:</strong> <%= @user.subject %></p>
        </div>
    </div>
</body>